useDynLib(SpThreshold, .registration=TRUE)
importFrom(Rcpp, evalCpp)

export(SpThreshold)
export(m_star)
export(create_random_W)
export(create_W_from_shapefile)
export(spfit)
export(variance_calibration)
export(variance_curve)
export(variance_comparison)
export(posterior_draws)
export(posterior_summary)
S3method(summary,spfit)
export(spfit_glmm)
importFrom(pgdraw,pgdraw)